<form  [formGroup]='customersForm' (ngSubmit) = 'formDetails()'>
    <!-- firstname -->
  <div class="form-group">
      <label for="firstname">Firstname</label>
      <input class="form-control" 
        type="text" 
        formControlName = 'firstName'
        [ngClass] = "{'is-invalid': customersForm.controls?.firstName.invalid && (customersForm.controls?.firstName.touched || customersForm.controls?.firstName.dirty) }"
        id="firstname" 
        placeholder="Firstname">
      <div class="invalid-feedback">
          <span *ngIf = "customersForm.controls?.firstName.errors?.required">    
              firstName is required
          </span>
          <span *ngIf = "customersForm.controls?.firstName.errors?.minlength">
              first name must have more than 3 characters
          </span>
      </div>
  </div>
  <!-- lastname -->
  <div class="form-group">
      <label for="lastname">Lastname</label>
      <input class="form-control" 
          required
          minlength="3"
          type="text" 
          formControlName = 'lastName'
          id="lastname" 
          placeholder="lastname">
  </div>
  <div formGroupName = 'emailGroup'>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input class="form-control" 
          type="email"
          formControlName ='emailName'
          id="exampleInputEmail1"  
          [ngClass] = "{'is-invalid': (customersForm.get('emailGroup.emailName').touched ||
                                      customersForm.get('emailGroup.emailName').dirty)
                                       && customersForm.get('emailGroup.emailName').invalid}"
          placeholder="Enter email">
      <div class="invalid-feedback">
        <!-- <span *ngIf = "userInfo.controls?.emailName.touched && userInfo.controls?.emailName.invalid"> -->
        <span *ngIf = "customersForm.get('emailGroup.emailName').errors?.required">    
            Email is required
        </span>
        <span *ngIf = "customersForm.get('emailGroup.emailName').errors?.email">    
            Enter a valid email address
        </span>
      </div>
          
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1">Confirm Email address</label>
      <input class="form-control" 
          type="email"
          formControlName ='confirmEmail'
          id="confirmEmail"  
          [ngClass] = "{'is-invalid': (customersForm.get('emailGroup.confirmEmail').touched ||
                                      customersForm.get('emailGroup.confirmEmail').dirty) && 
                                      customersForm.get('emailGroup.confirmEmail').invalid}"
          placeholder="confirm your email">
      <div class="invalid-feedback">
          <!-- <span *ngIf = "userInfo.controls?.emailName.touched && userInfo.controls?.emailName.invalid"> -->
          <span *ngIf = "customersForm.get('emailGroup.confirmEmail').errors?.required">    
              Email is required
          </span>
          <span *ngIf = "customersForm.get('emailGroup.confirmEmail').errors?.email">    
              Enter a valid email address
          </span>
      </div>
    </div>
    
  </div>
  <div *ngIf = "customersForm.get('emailGroup').errors?.match">
    Email and confirm email values do not match
  </div>
  <!-- phone number -->
  <div class="form-group">
    <label>Phone</label>
    <input class="form-control" 
         
        [ngClass] = "{'is-invalid':(customersForm.get('phone').touched ||
                         customersForm.get('phone').dirty) && 
                         customersForm.get('phone').invalid }"
        formControlName = 'phone' 
        
        placeholder="phone">
    <div class="invalid-feedback">
      <span *ngIf = "customersForm.get('phone').errors?.required">    
          this field is needed
      </span>
      <span *ngIf = "customersForm.get('phone').errors?.minlength">    
          min length is 10
      </span>
    
    </div>    
  </div>

  <!-- rating -->
  <div class="form-group">
    <label for="lastname">Rating</label>
    <input class="form-control" 
        type="number" 
        min="0"
        max="5"
        formControlName = 'rating' 
        [ngClass] = "{'is-invalid': customersForm.controls?.rating.invalid && (customersForm.controls?.rating.touched || customersForm.controls?.rating.dirty)}"
        placeholder="rating">
    <div class="invalid-feedback">
      <span *ngIf = "customersForm.get('rating').errors?.range">    
          value must be between 0 and 5
      </span>
    </div>    
  </div>
  
  <!-- Send Notifications -->
  <div class="form-group form-check">
    <input type="radio" 
      class="form-check-input"
      value="email"
      (click) = "setNotifications('email')"
      formControlName = 'notification'>
    <label class="form-check-label">Email</label>
  </div>
  <div class="form-group form-check">
    <input type="radio" 
      class="form-check-input"
      value="phone"
      (click) = "setNotifications('phone')"
      formControlName = 'notification'>
    <label class="form-check-label">Phone</label>
  </div>

  <!-- choose notification type -->
    
  <div class="form-group form-check">
      <input type="checkbox" 
        class="form-check-input" 
        (click) = 'showOrHideAddress()'
        formControlName = 'verify'>
      <label class="form-check-label">Verify Address Details</label>
  </div>

  <!-- address -->
  <div *ngIf = 'showAddressDetails' >
    <!-- street details -->
    <div class="form-group">
        <label for="street">Street</label>
        <input class="form-control" 
            type="text"
            formControlName ='street'
            id="street" 
            placeholder="street">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input class="form-control" 
            type="text" 
            formControlName ='city'
            id="city" 
            placeholder="City">
    </div>
    <div class="form-group">
        <label for="state">state</label>
        <input class="form-control" 
            type="text" 
            formControlName ='state'
            id="state" 
            placeholder="state">
    </div>
    <div class="form-group">
        <label for="zipcode">Zipcode</label>
        <input class="form-control" 
            type="number"
            formControlName ='zip' 
            id="zipcode" 
            placeholder="zipcode">
    </div>
  </div>
  <!-- <button type="submit" class="btn btn-primary" [disabled] = 'customersForm.control.invalid'>Submit</button> -->
</form>
