<form  [formGroup]='customersForm' (ngSubmit) = 'formDetails()'>
    <!-- firstname -->
  <div class="form-group">
      <label for="firstname">Firstname</label>
      <input class="form-control" 
        type="text" 
        
        formControlName = 'firstName'
        [ngClass] = "{'is-invalid': customersForm.controls?.firstName.invalid && (customersForm.controls?.firstName.touched || customersForm.controls?.firstName.dirty) }"
        id="firstname" 
        placeholder="Firstname">
      <div class="invalid-feedback">
          <span *ngIf = "customersForm.controls?.firstName.errors?.required">    
              firstName is required
          </span>
          <span *ngIf = "customersForm.controls?.firstName.errors?.minlength">
              first name must have more than 3 characters
          </span>
      </div>
  </div>
  <!-- lastname -->
  <div class="form-group">
      <label for="lastname">Lastname</label>
      <input class="form-control" 
          required
          minlength="3"
          type="text" 
          formControlName = 'lastName'
          id="lastname" 
          placeholder="lastname">
  </div>
  <!-- email -->
  <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input class="form-control" 
          type="email"
          formControlName ='emailName'
          required
          email
          id="exampleInputEmail1"  
          [ngClass] = "{'is-invalid': customersForm.get('emailName').touched && customersForm.get('emailName').invalid}"
          placeholder="Enter email">
          <div class="invalid-feedback">
              <!-- <span *ngIf = "userInfo.controls?.emailName.touched && userInfo.controls?.emailName.invalid"> -->
              <span *ngIf = "customersForm.get('emailName').errors?.required">    
                  Email is required
              </span>
              <span *ngIf = "customersForm.get('emailName').errors?.email">    
                  Enter a valid email address
              </span>
          </div>
          
  </div>
  <!-- rating -->
  <div class="form-group">
    <label for="lastname">Rating</label>
    <input class="form-control" 
        type="number" 
        min="0"
        max="5"
        formControlName = 'rating' 
        [ngClass] = "{'is-invalid': customersForm.controls?.rating.invalid && (customersForm.controls?.rating.touched || customersForm.controls?.rating.dirty)}"
        placeholder="rating">
    <div class="invalid-feedback">
      <span *ngIf = "customersForm.get('rating').errors?.range">    
          value must be between 0 and 5
      </span>
    </div>    
  </div>
  
  <!-- choose notification type -->
    
  <div class="form-group form-check">
      <input type="checkbox" 
        class="form-check-input" 
        formControlName = 'verify'>
      <label class="form-check-label">Verify Address Details</label>
  </div>
  <!-- address -->
  <div *ngIf = 'showAddressDetails' >
    <!-- street details -->
    <div class="form-group">
        <label for="street">Street</label>
        <input class="form-control" 
            type="text"
            formControlName ='street'
            id="street" 
            placeholder="street">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input class="form-control" 
            type="text" 
            formControlName ='city'
            id="city" 
            placeholder="City">
    </div>
    <div class="form-group">
        <label for="state">state</label>
        <input class="form-control" 
            type="text" 
            formControlName ='state'
            id="state" 
            placeholder="state">
    </div>
    <div class="form-group">
        <label for="zipcode">Zipcode</label>
        <input class="form-control" 
            type="number"
            formControlName ='zip' 
            id="zipcode" 
            placeholder="zipcode">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled] = 'customersForm.control.invalid'>Submit</button>
</form>
