<div class="container">
  <!-- <app-templatedrivenform></app-templatedrivenform> -->
  <app-reactiveform></app-reactiveform>
</div>
 <!--The content below is only a placeholder and can be replaced.--> 
<!-- <app-customers></app-customers>

<div style="text-align:center">
  <h1 [style.color] = 'obj.color'>
    Welcome to {{ title }}!{{obj.color}}{{1+2}}

  </h1>
  <p (click) = 'recieveData($event.target.textContent)'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ad quaerat animi alias debitis accusamus doloremque iusto! Voluptate voluptates laboriosam, veniam nemo blanditiis neque molestias accusantium hic aliquid quia omnis?</p>
  <input type="text" (input) = 'recieveDataFromInput($event.target.value)'><br>
  <i>username {{userEnteredValue}}</i><br>
  <input type="text" [value] = '1*2'><br>
  <input type="text" #username placeholder="username" (blur)='recieveDataFromInput()' (keyup.enter) = 'recieveDataFromInput()'>
  {{username.value}}
  <select #selected (click) = 'recieveDataFromInput()'>
    <option *ngFor = "let item of data">
      {{item}}
    </option>
    
  </select>
  <i>selected item {{selected.value}}</i>
  <div *ngIf='false' >
      Inside ng if directive
    <span ></span>
  </div>
</div> -->

